<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="threadpool" value="elastic"/>
    <add key="log4net.Config" value="log4net.config"/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <clear/>
      <add address="*" maxconnection="16"/>
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mindtouch.dream" publicKeyToken="b17e0197b56911d2" culture="neutral"/>
        <bindingRedirect oldVersion="2.3.0.0-2.3.0.1" newVersion="2.3.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SgmlReaderDll" publicKeyToken="46b2db9ca481831b" culture="neutral"/>
        <bindingRedirect oldVersion="1.8.0.0-1.8.7.14535" newVersion="1.8.7.14535"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="mindtouch.dream.test" publicKeyToken="b17e0197b56911d2" culture="neutral"/>
        <bindingRedirect oldVersion="2.3.0.0-2.3.0.1" newVersion="2.3.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
